@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #373737;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.menu-item {
    display: inline-block;
    padding: 25.5px 72px;
}

.menu-item a {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.menu-item a:hover {
    text-decoration: underline;
    background-color: #FF0000;
    border-radius: 3px;
    color: #FFFFFF;
}

.main-image img {
    width: 100%;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 49px 125px 10px 0;
    /* в макете текст не четко по центру, примерно выровнял как смог */
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 28px 67.5px;
}

.btn-getstart {
    display: inline-block;
    margin: 38px auto;
    background: #FF0000;
    border-radius: 4px;
    cursor: pointer;
    /*width: 191px;*/
    text-align: center;
    padding: 18px 43px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
}

.btn-getstart:hover {
    background: #deb887;
    color: #FF0000;
}

.copyright {
    margin: 44px 105px 29px 0;
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
}